*{
 margin: 0px;
 padding: 0px;
 font-family: arial,sans-serif;
 /*color: black;*/
 /*border: 1px dotted red;*/
}
#wrapper{
  width: 960px;
  height: 960px;
  padding: 50px;
  background-color: white;
}
#PokemonList{
  width: 495px;
  display: inline-block;
}
#PokemonData{
  width: 225px;
  height: 400px;
  display: inline-block;
  vertical-align: top;
  margin: 35px 35px 35px 0;
  text-align: center;
  padding: 35px 10px 0 10px;
  background-color: lightgray;
  overflow:auto;
  border-top: 20px solid red;
  border-right: 20px solid red;
  border-left: 20px solid red;
  border-bottom: 50px solid red;
  position: fixed;
}
#PokemonData img{
  display: block;
  position: relative;
  margin: 0 auto 10px auto;
}
h4{
  font-size: 18px;
  width: 200px;
  text-align: left;
  font-weight: bold;
}
ul{
  margin: 10px 25px;
  padding: 5px 0 10px 0;
  line-height: 0px;
}
li{
  text-align: left;
  margin-left: 10px;
  background-color: green;
}
