/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
 color: black;
 font-family: arial;
}
a{
  color: black;
  padding-left: 10px;
}
p{
  font-size: 16px;
  padding: 10px;
}
#wrapper{
  width: 1072px;
  background-color: yellow;
}
#header{
background-color: #f7f7f7;
padding: 15px 0 15px 25px;
}
#header h1{
width: 450px;
display: inline-block;
}
#header h2{
width: 550px;
display: inline-block;
text-align: right;
}
#main_content{
 background: radial-gradient(#6f5964, black);
 padding: 25px 0 25px 25px;
 vertical-align: top;
}
#subcontent_container_bio img{
  width: 450px;
  display: inline-block;
  border: 5px solid gray;
  margin-right: 25px;
}
#subcontent_container_bio{
margin-bottom: 25px;
}
.subcontent_about{
  display: inline-block;
  vertical-align: top;
  height: 306px;
  background-image: linear-gradient(to bottom right,#fffeff,#daccd9);
}
.subcontent_about h3{
  background-color: gray;
  width: 511px;
  color: white;
  font-weight: 900;
  padding: 10px;
  background-image: linear-gradient(#b4b4b8,#878593,#b4b4b8);
}
.subcontent_about p{
width: 415px;
vertical-align: top;
}
#subcontent_container_main .subcontent_container_main_block{
  width: 165px;
  display: inline-block;
  /*background-color: yellow;*/
  margin-right: 181px;
  vertical-align: top;
}
.subcontent_title{
  color: white;
  width: 300px;
  font-weight: 900;
  padding: 10px;
  background-image: linear-gradient(#b4b4b8,#878593,#b4b4b8);
}
.subcontent_title h3{
  color: white;
}
.subcontent_title h4{
  color: white;
}
.subcontent_body{
  width: 314px;
  height: 200px;
  padding: 3px;
  display: inline-block;
  background-image: linear-gradient(to bottom right,#fffeff,#daccd9);
}
#subcontent_container_main .subcontent_body img{
  width: 45px;
  margin: 5px;
}
#subcontent_container_main img{
  width: 320px;
  /*border: 0;*/
}
.technologies_button{
  text-align: center;
}
.technologies_button h4{
  color: white;
}
#subcontent_body ul li{
  padding-top: 10px;
}
#subcontent_container_main button{
  color: white;
  border: 1px solid black;
  background-color: #407d61;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 4px 4px 7px #888888;
}
span{
  font-style: italic;
}
#footer{
width: 1072px;
background-color: #f7f7f7;
text-align: center;
}
#contact_links{
padding-bottom: 5px;
text-align: center;
}
#contact_links li{
list-style-type: none;
display: inline;
font-style: italic;
}
#contact_links li img{
width: 20px;
vertical-align: middle;
margin: 3px;
}
